.modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
    h3 #{__('Log in to create a project')}
.row
 .span4.offset1
   each provider in providers
    a(class="btn btn-large btn-primary btn-" + provider, href="/auth/" + provider, style="margin:10px;")
      i(class="icon-" + provider)
      | #{__('Acceder con ')} #{provider.charAt(0).toUpperCase() + provider.slice(1)}
